/* Color palette *//* Text styles */button {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
}

.branch {
  height: 568px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url(../images/cover.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.branch::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  -webkit-transition: background ease 1s .3s;
  transition: background ease 1s .3s;
}

header {
  position: relative;
}

.branch--menu-visible::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.navigation {
  position: absolute;
  height: 100%;
  width: 189px;
  background: rgba(226, 241, 249, 0.95);
  left: -400px;
  top: 0;
  -webkit-transition: left ease 0.8s;
  transition: left ease 0.8s;
}

.branch--menu-visible .navigation {
  left: 0;
  z-index: 2;
}

.close {
  line-height: 30px;
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 42px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  background: #f26002;
  -webkit-transition: background ease 0.3s;
  transition: background ease 0.3s;
  position: absolute;
  font-size: 1.3em;
  left: 100%;
  z-index: 2;
}

.menu {
  margin: 0;
  padding: 50px 0 0;
  list-style: none;
}

.menu-link {
  padding: 0 30px;
  display: block;
  color: #4a4a4a;
  text-decoration: none;
  -webkit-transition: background ease 1s, color ease 0.3s;
  transition: background ease 1s, color ease 0.3s;
}

.menu-link:hover {
  color: #4a4a4a;
}

footer {
  background-color: #304268;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  width: 77px;
  height: 30px;
  margin-left: 104px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.footer-text2 {
  width: 290px;
  height: 30px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.footer-text2-icon {
  color: #f26002;
}

.arrow-footer {
  margin-top: -20px;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  min-width: 290px;
  height: auto;
  margin: 0 15px;
  padding-top: 280px;
}

.looking {
  background-color: #ffffff;
  padding: 30px 30px;
}

.reasons {
  background-color: #eff9ff;
  padding: 30px 30px;
}

.explain-reasons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.button1 {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  background-color: #ffffff;
  color: #f26002;
}

.button1:hover {
  background-color: #f26002;
  color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #ffffff;
  box-shadow: inset 0 0 0 3px #ffffff;
}

.button2 {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  color: #ffffff;
  margin: 30px 0;
}

.button2:hover {
  background: #ffffff;
  color: #f26002;
  -webkit-box-shadow: inset 0 0 0 3px #f26002;
  box-shadow: inset 0 0 0 3px #f26002;
}

.pre-button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
}

.pre-arrow-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.arrow-hero {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  text-align: center;
}

.arrow-down {
  width: 20px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 10px;
}

.arrow-up {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 20px;
}

.title {
  height: 110px;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: RobotoSlab;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.31;
  text-align: center;
}

.text-hero {
  height: 21px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
}

h4 {
  color: #8ccbea;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
}

h2 {
  color: #000000;
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

.title-looking {
  text-align: left;
}

.title-reason {
  text-align: center;
}

.text-looking {
  height: 120px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
}

.pretitle {
  height: 30px;
  color: #000000;
  font-family: RobotoSlab;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
}

.text-reasons {
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}

@media all and (min-width: 600px) {
  .explain-reasons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }
}

@media all and (min-width: 768px) {
  .hero {
    min-width: 690px;
    margin: 0 40px;
  }
}

@media all and (min-width: 1280px) {
  .hero {
    min-width: 730px;
    margin: 0 275px;
  }
}

/*# sourceMappingURL=main.css.map */
