/* Text styles */
@mixin Common-title {
  font-family: RobotoSlab;
  font-weight: bold;
  text-align: center;
}

@mixin Common-text{
  font-family: Roboto;
  text-align: center;
}

@mixin Hero-title {
  font-size: 42px;
  line-height: 1.31;
}

@mixin Hero-title-tablet {
  font-size: 80px;
  line-height: 1.33;
}

@mixin Hero-title-desktop {
  font-size: 100px;
  line-height: 1.32;
}

@mixin Section-hero {
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
}

@mixin Section-title {
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

@mixin Section-title-tablet {
  font-size: 26px;
  line-height: 1.73;
}

@mixin Section-title-desktop {
  font-size: 32px;
  line-height: 1.41;
}

@mixin Section-looking {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
}

@mixin Button-alt {
  font-family: Roboto;
  font-size: 20px;
  padding: 0 0 45px 0;
  font-weight: bold;
  text-align: center;
}

@mixin Reason-title {
  font-size: 18px;
  line-height: 1.67;
}

@mixin Reason-title-tablet {
  font-size: 24px;
  line-height: 1.25;
}

@mixin Section-reason-tablet {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

@mixin Section-reason {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}

@mixin Menu-item {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.81;
  text-align: left;
}

@mixin Footer {
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

button {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
}
