/* Text styles */

@mixin Hero-title---desktop {
  font-family: RobotoSlab;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.32;
  text-align: center;
}

@mixin Hero-title---tablet {
  font-family: RobotoSlab;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
}

@mixin Hero-title---mobile {
  font-family: RobotoSlab;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.31;
  text-align: center;
}

@mixin Section-title---desktop-center {
  font-family: RobotoSlab;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
}

@mixin Section-title---desktop {
  font-family: RobotoSlab;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
}

@mixin Section-title---tablet {
  font-family: RobotoSlab;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.73;
  text-align: left;
}

@mixin Section-title---tablet-center {
  font-family: RobotoSlab;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.73;
  text-align: center;
}

@mixin Section-title---mobile {
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

@mixin Hero-summary---tablet {
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
}

@mixin Button-alt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  text-align: center;
}

@mixin Reason-description---tablet {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

@mixin Section-description---tablet {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

@mixin Reason-title---mobile {
  font-family: RobotoSlab;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
}

@mixin Reason-description---mobile {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}

@mixin Section-description {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
}

@mixin Hero-summary---mobile {
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
}

@mixin Menu-item {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.81;
  text-align: left;
}

@mixin Section-category {
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;

}

@mixin Footer---mobile {
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}


button {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
}
