

/* Color palette */
$colorDarkBlue:#304268;
$colorOrange: #f26002;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLightBlue: #8ccbea;
$colorBlue: #0271bc;
$colorExtraLigthBlue: #e2f1f9;
$colorDarkGrey: #4a4a4a;

/* Size */
$standarSize:45px;
$textSizeMobile:16px;
$textSizeTablet:24px;
