footer {
  background-color: $colorDarkBlue;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  width: 77px;
  height: 30px;
  margin-left: 104px;
  color: $colorWhite;
  @include Footer;
}
.footer-text2 {
  width: 290px;
  height: 30px;
  color: $colorWhite;
  @include Footer;
}

.footer-text2-icon {
  color: $colorOrange;
}
