//menu
.mask{
	position: absolute;
	top: $positionStart;
	left: $positionStart;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(84, 84, 84);
	opacity: $positionStart;
}

.branch {
	height: 100vh;
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex:1;
	flex-direction: column;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: $positionStart;
		top: $positionStart;
		height: $positionStart;
		width: $positionStart;
		transition: background ease 1s .3s;
	}
}

header {
	position: relative;
	z-index: 1;
}

.branch--menu-visible {
	&::after {
		content: '';
		position: absolute;
		left: $positionStart;
		top: $positionStart;
		height: 100%;
		width: 100%;
		z-index: 3;
	}
}
.navigation {
	position: absolute;
	height: 100%;
	width: 60%;
	max-width:344px;
	background: rgba($colorExtraLigthBlue, 0.95);
	left: -400px;
	top: $positionStart;
	transition: left ease 0.8s;
	.branch--menu-visible & {
		left: $positionStart;
		z-index: 4;
	}
}

.close {
	line-height:30px;
	padding: $positionStart;
	border: $positionStart;
	border-radius: $positionStart;
	width: $standarSize;
	height: $standarSize;
	outline: none;
	cursor: pointer;
	color: $colorWhite;
	background: $colorOrange;
	transition: background ease 0.3s;
	position: absolute;
	font-size: 1.3em;
	left: 100%;
	z-index: 2;
}

.menu {
	margin: $positionStart;
	padding: 50px 0 0;
	list-style: none;
}

.menu li{
	padding: 10px 0;
	border-top: 1px solid rgba(163, 221, 255, 0.8);
	&:last-child{
		border-bottom: 1px solid rgba(163, 221, 255, 0.8);
	}
}

.menu-link {
	padding: 0 30px;
	display: block;
	color: $colorDarkGrey;
	text-decoration: none;
	transition: background ease 1s, color ease 0.3s;
}
