//menu
.branch {
	//width: 320px;
	height: 568px;
	flex:1;
	background-image: url(../images/cover.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	//min-height: 100vh;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 0;
		//background: rgba($colorWhite, 0);
		transition: background ease 1s .3s;
	}
}

header {
	position: relative;
}

.branch--menu-visible {
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		//background: rgba($colorWhite, .7);
		z-index: 1;
	}
}
.navigation {
	position: absolute;
	height: 100%;
	width: 245 - 56px;
	background: rgba($colorExtraLigthBlue, 0.95);
	//box-shadow: 0 0 15px rgba($colorBlack, 0.4);
	left: -400px;
	top: 0;
	transition: left ease 0.8s;
	.branch--menu-visible & {
		left: 0;
		z-index: 2;
	}
}
.close {
	line-height:30px;
	padding: 0;
	border: 0;
	border-radius: 0;
	width: 35px * 1.2;
	outline: none;
	cursor: pointer;
	//font-weight: $fontLight;
	text-transform: uppercase;
	color: $colorWhite;
	background: $colorOrange;
	transition: background ease 0.3s;
	position: absolute;
	font-size: 1.3em;
	left: 100%;
	z-index: 2;
	&:hover {
		//background: $colorMenuBTNHoverAlt;
		//background: $colorMenuBTN;
	}
}
.menu {
	//color: $colorLightGrey;
	margin: 0;
	padding: 50px 0 0;
	list-style: none;
}
.menu-option{
	//border-bottom: 1px solid ,grey 0.25);
	&:first-child {
		//border-top: 1px solid,grey 0.25);
	}
}
.menu-link {
	padding: 0 30px;
	display: block;
	color: $colorDarkGrey;
	text-decoration: none;
	transition: background ease 1s, color ease 0.3s;
	&:hover {
		color: $colorDarkGrey;
		//background: rgba(mix($colorBlackAlt, $colorDarkBlue), 0.5);
	}
}
