.button1 {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $colorOrange;
    background-color: $colorWhite;
    color: $colorOrange;
  }
.button1:hover {
    background-color: $colorOrange;
    color: $colorWhite;
    box-shadow: inset 0 0 0 3px $colorWhite;
}

.button2 {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorOrange;
  color: $colorWhite;
}
.button2:hover {
  background: $colorWhite;
  color:$colorOrange;
  box-shadow: inset 0 0 0 3px $colorOrange;
}

.btn {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
}
// .menu-trigger {
// 	line-height: $heightHeader;
// 	padding: 0;
// 	border: 0;
// 	border-radius: 5;
// 	width: $heightHeader * 1.2;
// 	outline: none;
// 	cursor: pointer;
// 	font-weight: $fontBold;
// 	text-transform: uppercase;
// 	color: $colorWhite;
// 	background: $colorMenuBTN;
// 	transition: background ease 0.3s;
// 	&:hover {
// 		background: $colorMenuBTNHover;
//	}
//}

.arrow-hero{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorWhite;
}
.arrow-down {
  width: 20px;
  height: 40px;
  background-color: $colorWhite;
}

// boton go
// // .Go {
// //   width: 25px;
// //   height: 45px;
// //   color: $colorOrange;
// //   @include Button-alt;
// // }
// // .Rectangle {
// //   width: 320px;
// //   height: 376px;
// //   background-color: $colorWhite;
// // }
// boton reason
// .Rectangle-2 {
//   width: 320px;
//   height: 624px;
//   background-color: #eff9ff;
// }
// .Go {
//   width: 133px;
//   height: 45px;
//   color: $colorWhite;
//   @include Button-alt;
// }
.arrow-up {
  width: 45px;
  height: 45px;
  background-color: $colorWhite;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 20px;
}
