.button1 {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  border: solid 2px var(--colorOrange);
}
.button2 {
	width: 184px;
	height: 45px;
	border-radius: 22.5px;
	background-color: #f26002;
	background-color: var(--colorOrange);
}
