.button1 {
    width: 76px;
    height: $standarSize;
    border-radius: 22.5px;
    border: solid 2px $colorOrange;
    background-color: $colorWhite;
    color: $colorOrange;
    @include Button-alt;

      @media all and (min-width:768px) {
  		  width: 91px;
  		}
  		@media all and (min-width:1280px) {
  			width: 160px;
  		}
  }

.button1:hover {
    background-color: $colorOrange;
    color: $colorWhite;
    box-shadow: inset 0 0 0 3px $colorWhite;
}

.pre-button2{
  display: flex;
  justify-content: center;
}

.button2 {
  width: 184px;
  height: $standarSize;
  border-radius: 22.5px;
  background-color: $colorOrange;
  color: $colorWhite;
  margin: 30px 0;
  line-height: 2.25;
  @include Button-alt;

    @media all and (min-width:768px) {
      width: 210px;
    }
    @media all and (min-width:1280px) {
      width: 255px;
    }
}

.button2:hover {
  background: $colorWhite;
  color:$colorOrange;
  box-shadow: inset 0 0 0 3px $colorOrange;
}

.btn {
  width: $standarSize;
  height: $standarSize;
  background-color: $colorBlue;
}
// .menu-trigger {
// 	line-height: $heightHeader;
// 	padding: 0;
// 	border: 0;
// 	border-radius: 5;
// 	width: $heightHeader * 1.2;
// 	outline: none;
// 	cursor: pointer;
// 	font-weight: $fontBold;
// 	text-transform: uppercase;
// 	color: $colorWhite;
// 	background: $colorMenuBTN;
// 	transition: background ease 0.3s;
// 	&:hover {
// 		background: $colorMenuBTNHover;
//	}
//}
.pre-arrow{
  display: flex;
  justify-content: center;
}

.arrow{
  width: $standarSize;
  height: $standarSize;
  border-radius: 22.5px;
  background-color: $colorWhite;
  text-align: center;
}

.arrow-image {
  width: 20px;
  height: $standarSize;
  background-color: $colorWhite;
  border-radius: 10px;
}

.arrow-footer{
  margin-top: -20px;
}
