.title {
  color: $colorWhite;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  @include Common-title;
  @include Hero-title;

    @media all and (min-width:768px) {
      @include Hero-title-tablet;
    }

    @media all and (min-width:900px) {
      @include Hero-title-desktop;
    }
}
.text-hero{
  font-size: $textSizeMobile;
  color: $colorWhite;

  @include Common-text;
    @media all and (min-width:768px) {
      font-size: $textSizeTablet;
    }
    @media all and (min-width:1280px) {
  }
}
h4 {
  color: $colorLightBlue;
  @include Section-hero;
}
.title-looking{
  @include Section-title;

    @media all and (min-width:768px) {
       @include Section-title-tablet;
    }
    @media all and (min-width:1280px) {
      @include Section-title-desktop;
    }
}
.text-looking {
  color: $colorDarkGrey;
  @include Section-looking;
}
.title-reason{
  @include Section-title;
  text-align: center;

    @media all and (min-width:768px) {
       @include Section-title-tablet;
    }
    @media all and (min-width:1280px) {
      @include Section-title-desktop;
    }
}
.pretitle {
  @include Reason-title;
  @include Common-title;

    @media all and (min-width:768px) {
     @include Reason-title-tablet;
  }
}
.text-reasons {
  @include Section-reason;

    @media all and (min-width:768px) {
     @include Section-reason-tablet;
    }
    @media all and (min-width:1067px) {
      padding: 30px;
}
}
