.title {
  height: 110px;
  color: $colorWhite;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  @include Hero-title---mobile;
}
.text-hero{

  height: 21px;
  color: $colorWhite;
  @include Hero-summary---mobile;
}
h4 {
  color: $colorLightBlue;
  @include Section-category;
}
h2 {
  color: $colorBlack;
  @include Section-title---mobile;
}
.title-looking{
  text-align: left;
}
.title-reason{
  text-align: center;
}
.text-looking {
  height: 120px;
  color: $colorDarkGrey;
  @include Section-description;
}
.pretitle {
  height: 30px;
  color: $colorBlack;
  @include Reason-title---mobile;
}
.text-reasons {
  color: $colorBlack;
  @include Reason-description---mobile;
}
